---
const { title, class: className } = Astro.props;
---

<div class="dot aspect-square absolute grid content-center">
  <div class=`relative text-center hex ${className}`>
    <div class="inner flex flex-col justify-center h-full">
      <h4
        class=`${className} brightness-0 font-bold color-transparant bg-clip-text text-[1.6vmin]`
      >
        {title}
      </h4>
    </div>
    <div
      class=`${className} corner-1 -z-[1] absolute top-0 left-0 w-full h-full overflow-hidden rotate-[60deg]`
    >
    </div>
    <div
      bg-inherit
      class=`${className} corner-2 -z-[2] absolute top-0 left-0 w-full h-full overflow-hidden -rotate-[60deg]`
    >
    </div>
  </div>
</div>

<style>
  .hex {
    width: calc(var(--tracksize) * 1);
    height: calc(var(--tracksize) * 0.575);
  }

  .corner-1::before {
    transform: translate(calc(var(--tracksize) * -0.6), 0px);
  }

  .corner-2:before {
    transform: translate(calc(var(--tracksize) * -0.6), -210px);
  }
</style>
