---
const {
  title,
  description,
  link,
  image,
  gradient,
  class: className,
} = Astro.props;
---

<div
  class=`hex ${className} mx-[6px] my-[30px] text-center transition ease-in-out duration-300 drop-shadow-strong saturate-[.3] hover:saturate-100`
>
  <div class="corner-1"></div>
  <div class="corner-2"></div>
  <a
    class="border-teal-600/80 inner z-10 flex flex-col items-center justify-center h-full"
    href={link}
  >
    <h4 class="flex justify-center text-xl font-bold">
      {title}
    </h4>
    <slot />
    {
      description && (
        <>
          <p class="font-bold">{description}</p>
        </>
      )
    }
  </a>
  {gradient && <div class={`-z-[1] gradient absolute ${gradient}`} />}
  {
    image && (
      <div class="image absolute" style={`background-image: url(${image});`} />
    )
  }
</div>

<style>
  :root {
    --width: 168px;
    --height: 97px;
  }

  .hex {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    float: left;
    background-color: theme(colors.white);
    zoom: 1;
    width: var(--width);
    height: var(--height);

    .gradient,
    .image {
      height: 195px;
      top: -49px;
      left: 0px;
      width: var(--width);
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      background-repeat: no-repeat;
    }

    .image {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: auto var(--width);
      width: var(--width);
    }

    .corner-1,
    .corner-2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: inherit;
      z-index: -2;
      overflow: hidden;
      backface-visibility: hidden;
    }

    .corner-1 {
      transform: rotate(60deg);
    }

    .corner-2 {
      transform: rotate(-60deg);
    }

    p,
    h4 {
      background-color: theme(colors.teal.900);
      color: transparent;
      text-shadow: 0px 0px 1px theme(colors.teal.600);
      background-clip: text;
    }
  }
</style>
